@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gugi&display=swap');
.gfont{
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Gugi', cursive;
}

.word-display {
    margin-top: 3rem;
    font-size: 75px;
    color: #3e8ed0;
}

.word-input-box {
    margin-top: 4rem;
}

.word-input {
    padding: 0.5rem;
    width: 300px;
}

.game-info {
    margin-top: 2rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
}

.time,
.score {
    font-size: 30px;
}

.btn {
    width: 200px;
    height: 35px;
    background: #3b5999;
    color: #fff;
    border: none;
    margin-top: 3rem;
    margin-bottom: 4rem;
    cursor: pointer;
}

.loading {
    background: #ccc;
    cursor: not-allowed
}

.toast-wrap {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
}

.toast-item {
    width: 250px;
    padding: 0.5rem 0;
    margin-top: 0.5rem;
    text-align: center;
    color: #fff;
    transition: left 500ms ease-in-out, top 500ms ease-in-out;
    position: relative;
    background: linear-gradient(to left, #FBD3E9, #BB377D)
}
