{% extends "taja/base.html" %} 
{% block content %}
<div class="container has-text-centered">
    <div class="column is-6 is-offset-3">
        {% for category in object_list %}
        <article class="panel is-info">
            <p class="panel-heading">
            {{ category.name }}
            </p>
            {% for level in levels %}
            <a
                class="panel-block"
                href="/training/?category={{ category.name }}&level={{ level.name }}"
            >
                <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                </span>
                Level.{{ level.name }}
            </a>
            {% endfor %}
        </article>
        {% endfor %}

        <p class="title is-size-6 has-text-grey-lighter gfont">
            please choose one
        </p>
    </div>
</div>
{% endblock %}