{% extends "taja/base.html" %}

{% block content %}
<div class="container has-text-centered">
    <div class="column is-6 is-offset-3">
        <h1 class="title is-size-1 gfont">
            고고타이핑이란?
        </h1>
        <h2 class="subtitle">
            영단어 및 영문법을 타자게임 형식으로 익히는 프로그램 입니다.<br />
            다른 학습법에 비해 더 쉽고, 재미있고, 빠르게 학습할 수 있어<br />
            영어학습 정보가 뇌에 오래 기억될 수 있도록 도와드립니다.
        </h2>
        <div class="box">
            <a href="/choice/">
                <button class="button is-large is-fullwidth is-info is-outlined gfont">
                    지금 바로 시작하기👨‍💻
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}  
                