{% extends "taja/base.html" %} {% block content %}
<div class="container has-text-centered">
    <div class="column is-6 is-offset-3">
        
        <div class="game-info">
            <h1 class="subtitle has-text-black">남은시간 : <span class="time">0</span> 초</h1>
            <h1 class="subtitle has-text-black">획득점수 : <span class="score">0</span> 점</h1>
        </div>
        <div class="box">
            <h1 class="word-display">
                start
            </h1>
            <h1 class="subtitle has-text-black kword-display"></h1>
            <div class="word-input-box">
                <input class="input is-black word-input is-large" type="text" placeholder="" maxlength='25'>
            </div>
            <button class="button is-info btn loading" onclick="run()">
                게임을 불러오는중...
            </button>
            <div class="toast-wrap"></div>
        </div>
    </div>
</div>
{% endblock %}